.tabs {
  width: 100%;
  .tabs-item__wrapper {
    text-align: left;
    position: relative;
    & > .tabs-item {
      display: inline-block;
      width: auto;
      line-height: 50px;
      margin: 0 16px;
      cursor: pointer;
      font-size: 18px;
      color: #666;
    }
    & > .current-tabs {
      color: #2a75ed;
    }
    & > div.tabs-idx-line__wrapper {
      width: 100%;
      height: 1px;
      background: #eee;
      position: relative;
      & > .tabs-idx-line {
        display: inline-block;
        width: 20px;
        height: 2px;
        background: #2a75ed;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 10;
      }
      & > .animate {
        transition: all 0.3s ease-in-out;
      }
    }
  }
}