html,
body {
    font-family: 'PingFangSC',
    'PingFangHK',
    'PingFangTC',
    '微软雅黑',
    sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 5px;
    background: #999;
}

/*H5设计规范样式*/
/*颜色*/
.EC1{
    color: #09BB07;
}
.EC1_BG{
    background-color: #09BB07;
}
.EC2{
    color: #FF6B67;
}
.EC2_BG{
    background-color: #FF6B67;
}
.EC3{
    color: #576B95;
}
.EC3_BG{
    background-color: #576B95;
}
.EC4{
    color: #FF9B2C;
}
.EC4_BG{
    background-color: #FF9B2C;
}
.EC5{
    color: #353535;
}
.EC5_BG{
    background-color: #353535;
}
.EC6{
    color: #888888;
}
.EC6_BG{
    background-color: #888888;
}
.EC7{
    color: #B2B2B2;
}
.EC7_BG{
    background-color: #B2B2B2;
}
.EC8{
    color: #E5E5E5;
}
.EC8_BG{
    background-color: #E5E5E5;
}
.EC9{
    color: #EFEFF4;
}
.EC9_BG{
    background-color: #EFEFF4;
}
.EC10{
    color: #FFFFFF;
}
.EC10_BG{
    background-color: #FFFFFF;
}
.EC11{
    color:#999999;
}
.EC11_BG{
    background-color:#999999;
}
.EC12{
    color:#030303;
}
.EC12_BG{
    background-color:#030303;
}
.EC13{
    color:#4A4C5B;
}
.EC13_BG{
    background-color:#4A4C5B;
}
.EC14{
    color:#000000;
}
.EC14_BG{
    background-color:#000000;
}
.EC15{
    color:#333333;
}
.EC16{
    color:#FF002A;
}
/*字号*/

.ET1{
    font-size: 0.4rem;
}
.ET2{
    font-size: 0.36rem;
}
.ET3{
    font-size: 0.32rem;
}
.ET4{
    font-size: 0.3rem;
}
.ET5{
    font-size: 0.28rem;
}
.ET6{
    font-size: 0.24rem;
}
.ET7{
    font-size: 0.2rem;
}
.ET8{
    font-size: 0.18rem;
}
.ET9{
    font-size:0.22rem;
}
/*H5设计规范样式 */




/*全局样式重置*/
* {
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    background-color: #E6E6E6;
    height: 100%;
}
.vue_common{
    box-sizing: border-box;
}
.vue_common *{
    box-sizing:inherit;
    word-wrap: break-word;
    word-break: break-all;
}

/*禁止手机端长按菜单*/
a{
    -webkit-touch-callout: none
}

/*清除浮动*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.clearfix {
    zoom: 1;
}

/*文本不能被选择*/
button {
    user-select: none;
    -webkit-user-select: none;
}

/*去除ios自带的点击态*/
a, button, input, textarea,div{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}



/**
文字样式
 */
/*列表标题主内容*/
.t1 {
    font-size: 0.32rem;
}

/*副标题、次要描述*/
.t2 {
    font-size: 0.28rem;
}

/*辅助信息、弱化内容*/
.t3 {
    font-size: 0.24rem;
}

/*tab底部等描述信息*/
.t4 {
    font-size: 0.22rem;
}

/*界面主要描述*/
.t5{
    font-size: 0.32rem;
}

/*按钮字号*/
.t6{
    font-size: 0.36rem;
}

/*大标题*/
.t7{
    font-size: 0.4rem;
}

/*小图标*/
.t8 {
    font-size: 0.2rem;
}

.t9 {
    font-size: 0.18rem;
}

.c0_white {
    color: white;
}
.c1 {
    color: #09BB07;
}

.c2 {
    color: #353535;
}

.c3 {
    color: #888888;
}

.c4 {
    color: #576B95;
}

.c5 {
    color: #E64340;
}

.c6 {
    color: #b2b2b2;
}

.c7 {
    color: #2f96e6;
}

.c8 {
    color: #757575;
}

.c9{
    color:#32cc6e
}

.c10 {
    color: #3cca72;
}

.c11 {
    color: #6bd06a;
}

.c12 {
    color: #546a94;
}
.c13 {
    color: #1bc570;
}
.c14 {
    color: #00c674;
}
.c15 {
    color: #ff7d2a;
}

.c16 {
    color: #999;
}
.c17 {
    color: #000;
}
.c18 {
    color: #9c9c9c;
}
.c19 {
    color: #333;
}
.c20 {
    color: #666;
}
.c_green_normal {
    background-color: rgba(9, 187, 7, 1);
}

/*清除浮动*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.clearfix {
    zoom: 1;
}

/*点击态*/
/*绿色的点击态*/
.PressGreenBg:active{
    background-color: rgba(9,187,7,0.2)!important;
    border-color: rgba(9,187,7,0.2)!important;
}
/*灰色的点击态*/
.pressGreyBg:active{
    background-color: rgba(125, 125, 125, 0.2)!important;
    border-color: rgba(125, 125, 125, 0.2)!important;
}
/*蓝色的点击态*/
.pressBlueBg:active{
    background-color: rgba(43, 143, 247, 0.2)!important;
    border-color: rgba(43, 143, 247, 0.2)!important;
}

/*通用点击态*/
.pressActive:active{
    opacity: .5
}

.navi_href{
    height: 100%;
    width: 0.64rem;
    position: absolute;
}
.navi_hrefIcon{
    width: 0.3rem;
    height: 0.3rem;
    position: absolute;
    left: 50%;
    margin-left: -0.15rem;
    top: 0.2rem;
}
.navi_hrefWord{
    font-size: 0.18rem;
    color: #fff;
    text-align: center;
    margin-top: 0.6rem;
}
.navi_href:nth-child(1){
    left: 0.3rem;
}
.navi_href:nth-child(2){
    left: 1rem;
}
.navi_href:nth-child(3){
    left: 1.7rem;
}
.navi_href:nth-child(4){
    left: 2.6rem;
}
.naviControl_icon{
    width: 0.3rem;
    height: 0.3rem;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -0.15rem;
    margin-top: -0.15rem;
}
.navi_close{
    animation:naviClose 0.2s 1;
    -webkit-animation:naviClose 0.2s 1; /* Safari 和 Chrome */
}
.navi_open{
    animation:naviOpen 0.2s 1;
    -webkit-animation:naviOpen 0.2s 1; /* Safari 和 Chrome */
}
@-webkit-keyframes naviClose {
    0% {
        width: 3.4rem;
    }
    100% {
        width: 1rem;
    }
}
@keyframes naviClose {
    0% {
        width: 3.4rem;
    }
    100% {
        width: 1rem;
    }
}
@-webkit-keyframes naviOpen {
    0% {
        width: 1rem;
    }
    100% {
        width: 3.4rem;
    }
}
@keyframes naviOpen {
    0% {
        width: 1rem;
    }
    100% {
        width: 3.4rem;
    }
}
/* .navi_openIcon {
    background: url("~imgPath/navi/nav_open.png") center center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.navi_closeIcon {
    background: url("~imgPath/navi/nav_close.png") center center ;
    background-repeat: no-repeat;
    background-size: 100%;
} */
/*图文可选中*/
.select{
    -webkit-touch-callout: initial;
    -webkit-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}
/*不可选中*/
.un_select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*禁止图片保存的蒙版*/
.desc-mb{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

img {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.van-popup {
    right: 0;
    left: 0;
    margin: 0 auto;
    max-width: 480px;
}

.vux-1px,
.vux-1px-b,
.vux-1px-l,
.vux-1px-r,
.vux-1px-t,
.vux-1px-tb {
  position: relative;
}
.vux-1px:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  border: 1px solid currentColor;
  color: #c7c7c7;
  height: 200%;
  transform-origin: left top;
  transform: scale(0.5);
}
.vux-1px-t:before {
  top: 0;
  border-top: 1px solid currentColor;
  transform-origin: 0 0;
  transform: scaleY(0.5);
}
.vux-1px-b:after,
.vux-1px-t:before {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  color: #c7c7c7;
}
.vux-1px-b:after {
  bottom: 0;
  border-bottom: 1px solid currentColor;
  transform-origin: 0 100%;
  transform: scaleY(0.5);
}
.vux-1px-tb:before {
  top: 0;
  border-top: 1px solid currentColor;
  transform-origin: 0 0;
  transform: scaleY(0.5);
}
.vux-1px-tb:after,
.vux-1px-tb:before {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  color: #c7c7c7;
}
.vux-1px-tb:after {
  bottom: 0;
  border-bottom: 1px solid currentColor;
  transform-origin: 0 100%;
  transform: scaleY(0.5);
}
.vux-1px-l:before {
  left: 0;
  border-left: 1px solid currentColor;
  transform-origin: 0 0;
  transform: scaleX(0.5);
}
.vux-1px-l:before,
.vux-1px-r:after {
  content: " ";
  position: absolute;
  top: 0;
  width: 1px;
  bottom: 0;
  color: #c7c7c7;
}
.vux-1px-r:after {
  right: 0;
  border-right: 1px solid currentColor;
  transform-origin: 100% 0;
  transform: scaleX(0.5);
}



